<div class="carousel" (mouseenter)="hoverOn()"  (mouseleave) ="hoverOff()"(window:resize)="onResize()">
    <div class="carousel-track-container">
        <ul #carouseltrack class="carousel-track">
            <app-slide ></app-slide>
        </ul>
    </div> <!--end carousel__track-container-->
    <section class="carousel-controls">
      <div class="carousel-controls-wrap">
          <div class="carousel__buttons">
            <app-prev-button (click)="clickPrev($event)"></app-prev-button>
            <app-next-button (click)="clickNext()"></app-next-button>
          </div>
  
          <div #carouselnav class="carousel__nav">
              <button *ngFor="let slide of slides; first as isFirst;" [class]="isFirst ? 'carousel__indicator current-slide' : 'carousel__indicator'" (click)="navClick($event)"></button>
          </div> <!-- end carousel__nav-->
      </div>
  </section>
</div> <!--end carousel -->