<section class="default" id="home-section-02">
  <div class="wrap">
      <figure class="figure">
          <div class="figure-img">
              <img src="../../../assets/images/crate.png" alt="crate"/>
          </div>
          <figcaption class="figcaption">
              <div>
                  <h3 class="white">Don't Just Survive, But Thrive.</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id excepturi perspiciatis quasi alias accusantium repellat tenetur corrupti ad praesentium deserunt?</p>
                  <a href="shopAll.html" class="button">Find out How</a>
              </div>
          </figcaption>
      </figure>
  </div>
</section>