@import './variables';
@import './layouts';
@import './typography';
@import './mixins';


a.button,
button.button {
  @include body-regular;
  text-transform: uppercase;
  font-size: 17px;
  text-decoration: none;
  color: white;
  background: $light-green;
  padding: 13px 20px;
  border-radius: 2px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
  transition: all .2s ease-in-out;
  display: inline-block;
  border: none;
  cursor: pointer;
  outline: none;

  &.dark {
      background: $dark-green;

      &:hover {
          background: $light-green;
      }
  }

  &:hover{
      background: $dark-green;
      color: white !important;
  }
}