@import 'src/sass/variables';
@import 'src/sass/mixins';
@import 'src/sass/typography';
@import 'src/sass/layouts';

#footer-nav {
  display: flex;

  ul li {
      margin-bottom: 25px;
  }

  ul li a{
      @include body-light;
      line-height: 19px;
      text-decoration: none;
  }

  ul:nth-child(1){
      li a{
          color: $white;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 0.05em;

      }
  }

  ul:nth-child(2){
      margin-left: 25px;
      li a{
          font-size: 0.8em;
          color: $grey;
          letter-spacing: 0.05em;

      }
  }
}