
@import 'src/sass/variables';
@import 'src/sass/mixins';
@import 'src/sass/typography';

.logo-container .logo, .logo-container #logo {
    max-height: 50px;
    max-width: 125px;
    justify-self: start;
    margin-left: 15px;

    @media screen and (min-width: 500px){
        max-width: 170px;
    }

    @media screen and (min-width: 767px){
        max-height: 60px;
    }

    &:hover > .st4.eye{
        fill: #d32323;
    }

    .st0.blood {
        transform: translateY(-10px);
        opacity: 0;
        transition: .3s ease-in-out;
    }

    &:hover .st0.blood{
        transform: translateY(0px);
        opacity: 1;

    }
}

.logo-container{
    grid-area: header-top-left;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
}

app-logo{
    max-height: 50px;
    max-width: 125px;
    justify-self: start;
    margin-left: 15px;
    grid-area: header-top-left;
    padding-top: 3px;
    padding-bottom: 3px;
}