<app-logo></app-logo>
<p style="margin-top: 20px;">&copy; 2020 CTRL ALT DEFEAT co.</p>
<p class="white">Educational purposes only.</p>
<br/>

<p class="white">Proudly Engineered by:</p>
<p class="grey">Gökay Abay, Leanne Sall, Nick Charvat, 
    Patrick Fortaleza, Tilman Queitsch</p>
<br/>

<p class="grey mime">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. In dignissimos neque impedit mollitia quidem consequuntur magnam esse aut saepe illum cumque adipisci provident ipsum veniam, velit reiciendis. Quibusdam facere modi cupiditate eveniet, dolor ullam est dicta alias obcaecati eum perspiciatis!
</p>